.heading-div {
    text-align: center;
    background-color: gray;
    padding: 18px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 1.9rem;
    font-family: 'Young Serif', serif;
    background-image: url('images/blog-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.heading-3 {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: -25px;
}

.heading-para {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* BODY SECTION */
#body-section {
    margin-top: 245px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.programming-heading {
    padding-top: 10px;
    font-size: 1.7rem;
    text-align: center;
}

.main-para {
    margin-top: -20px;
}

.certificate {
    width: 50%;
    border: 1px solid gray;
    border-radius: 3px;
}

/* responsive section */
@media all and (max-width:1200px){
    .image-div .certificate{
        width: 100%;
        margin: auto;
    }
}
