body{
    overflow: hidden;
}

.card-footer{
    width: 50%;
}

body{
    background-color: peachpuff;
}

.winner{
    color: green;
}

.loser{
    color: red;
}

@media all and (max-width:1200px){
    html,body{
        overflow-x:hidden;
    }

    body{
        position: relative;
    }

    #p1Button{
        width: 50%;
        height:50%;
        text-align: center;
    }

    #p2Button{
        width: 50%;
        height:50%;
        text-align: center;
    }

    #reset{
        width: 45%;
        height:50%
    }

    .card-footer .game-button{
        font-size: 0.7rem;
    }

}